.container {
  margin: 10rem 3rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: #9f4a00;
}

.bildes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bilde {
  width: 300px;
  margin: 2rem;
}
